Release name: v2

| Date | Issue number   | Test case ID  | Test case name |Status                |
|:-----|:---------------|:--------------|:---------------|:---------------------|
|27-Feb-2024 | #456 | [MP-MPCalendar-012](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-mp-mpcalendar-012) | User not assigned should be shown as text in meal calendar | Passed |
|01-Mar-2024 | #372 | [MP-MPSearch-013](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0/related-bug-id-372) | Search for a meal plan based on any word of the name            | Passed |
|01-Mar-2024 | #482 | [AA-Autocomplete-014](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0/test-case-id-adminapp-autocomplete-014) | Enable autocomplete feature for Products and Meals fields in admin app measure form |Passed with exception|
|01-Mar-2024 | #522 | [MP-FilterByTags-015](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0/test-case-id-mp-filterbytags-015) | Filter meal plans by tags                                         | Passed    |
|04-Mar-2024 | #483  | [AA-MultipleTags-016](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0/related-bug-bug-multiple-tags-are-not-getting-created-in-admin-app-product-page-483) | Verify creation of multiple tags for a product in Admin app product page |Passed |
|04-Mar-2024 | #458  | [MP-CalenderUsername-017](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0/test-case-id-mp-calenderusernamedisplay-017) | Verify display of "no user assigned" on meal plan calendar when no user is assigned |Passed with exception |
|04-Mar-2024 | #426  | [AA-DeleteMeal-018](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0/test-case-id-aa-deletemeal-018) | Verify deletion of a meal from the meals table without foreign key constraint error |Passed |
|08-Mar-2024 | #413 | [MP-LoginErrorDisplay-019](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-mp-loginerrordisplay-019) | Verify display of error message when hitting enter with invalid credentials in the login page | Passed |
|08-Mar-2024 | #377 | [MP-DuplicateMealPlan-020](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-mp-duplicatemealplan-020)| Create a duplicate meal plan from an existing meal plan | Passed |
|08-Mar-2024 | #517 | [MP-FilterByTagMeals-021](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-mp-filterbytagmeals-021)| Filter meals by tags on the meals page | Passed |
|08-Mar-2024 | #482 | [AA-ProductDropdownDisplay-022](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-aa-productdropdowndisplay-022)| Verify all products are displayed in the product dropdown when creating a measure in Admin app | Passed |
|25-Mar-2024 | #505 | [AA-SearchBarProducts-023](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-AA-SearchBarProducts-023)| Verify the presence and functionality of the search bar in Products section of the Admin App | Failed |
|26-Mar-2024 | #459 | [MP-IconHoverColor-024](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-mp-iconhovercolor-024) | Verify the hover effect of the trash can and shopping cart icons in the meal plans page | Passed |
|26-Mar-2024 | #460 | [MP-ConfirmDelete-025](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-mp-confirmdelete-025) | Confirm deletion of a meal plan when clicking the trash icon | Passed |
|26-Mar-2024 | #476 | [MP-FavouritesHover-026](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-MP-FavouritesHover-026) | Verify favorites/heart icon turns red on mouse hover | Passed |
|27-Mar-2024 | #489 |[MP-ProductQuantityUpdate-027](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-MP-ProductQuantityUpdate-027)| Verify updating the Quantity and Unit for the product Lettuce | Passed |
|27-Mar-2024 | #457 | [AA-SearchBarMeals-028](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-AA-SearchBarMeals-028)| Verify the presence and functionality of the search bar in the Admin App (Meals) | Passed |





