Release name: v2

| Date | Issue number   | Test case ID  | Test case name |Status                |
|:-----|:---------------|:--------------|:---------------|:---------------------|
|27-Feb-2024 | #456 | [MP-MPCalendar-012](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-mp-mpcalendar-012) | User not assigned should be shown as text in meal calendar | Passed |
|01-Mar-2024 | #372 | [MP-MPSearch-013](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0/_edit#related-bug-id-372) | Search for a meal plan based on any word of the name            | Passed |
|01-Mar-2024 | #482 | [AA-Autocomplete-014](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0/_edit#test-case-id-adminapp-autocomplete-014) | Enable autocomplete feature for Products and Meals fields in admin app measure form |
|01-Mar-2024 | #522 | [MP-FilterByTags-015](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0/_edit#test-case-id-mp-filterbytags-015) | Filter meal plans by tags                                         |        |

