Release name: v2

| Date | Issue number  | Test case ID  | Test case name |Status                |
|:-----|:---------------|:--------------|:--------------|:---------------------|
|27-Feb-2024 | #456 | [MP-MPCalendar-012](https://github.com/CivicTechFredericton/mealplanner/wiki/Test-case-portfolio-v1.0-and-2.0#test-case-id-mp-mpcalendar-012) | User not assigned should be shown as text in meal calendar | Passed |